-i https://pypi.org/simple/
asgiref==3.2.7
boto3==1.12.39
botocore==1.15.49
dj-database-url==0.5.0
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-heroku==0.3.1
django-registration-redux==2.7
django-storages==1.9.1
django==3.0.7
docutils==0.15.2
gunicorn==20.0.4
jmespath==0.10.0
pillow==7.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9 ; python_version != '3.4'
whitenoise==5.0.1
