{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %}
    Login - {{ block.super }} 
{% endblock title %}
{% block content %}
 
 
 <main>

<div class = "section"> 
<div class = "box">

 <div class="container">
<h1 class="title "> Login </h1>
		<div class="row">

    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br> 
        <input class="btn btn-primary "type="submit" value="Submit" />
    </form>
    <p>
        <a href="{% url 'password_reset' %}">
       &nbsp&nbsp Forgot your password? </a>
    </p>
    
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
              </main> 

{% endblock content %}