{% extends 'base.html' %} 
{% block title %}
    Logout - {{ block.super }} 
{% endblock title %}

{% block content %}

<br>
<br>
<br>
<br>
<main>

<div class = "section"> 
<div class = "box">

    <h1 class="title">Logged Out</h1>
    <br>

    <h3 class="center">You have been logged out. Log in to view sessions and process Ret Files</h3> 
</div>


    <br>
     <br>
      <br>
       <br>
        <br>
         <br>
          <br>
           <br>
           
          
           </div>
              </main> 
                

{% endblock content %}