{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Retfile
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/simplex/bulmaswatch.min.css">
    {% comment %} themes I like: Simplex,  Materia, Lux,  Yeti, sandstone   // https://jenil.github.io/bulmaswatch/{% endcomment %}

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>



  <body class= "has-background-white-ter">
       <nav class="navbar is-light is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %} ">
<i class="fab fa-connectdevelop"></i>   <h1 class="title is-4"> &nbsp; RetSmooth</h1> 
      {% comment %} <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> {% endcomment %}
    </a>
    <p class="is-size-7">beta</p>

    

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="/documentation/overview/start/">
          Resources
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="#">
            Overview
          </a>
          <a class="navbar-item " href="#">
            Modifiers
          </a>
          <a class="navbar-item " href="#">
            Columns
          </a>
          
          
            <a class="navbar-item is-active" href="#">
              Components
            </a>
          
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">0.5.1</strong>
              </p>
              
                <small>
                  <a class="bd-view-all-versions" href="#">View all versions</a>
                </small>
              
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link " href="#">
          Blog
        </a>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          
            <a class="navbar-item" href="#">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">03 Aug 2017</small>
                </p>
                <p>New feature: list of tags</p>
              </div>
            </a>
          
            <a class="navbar-item" href="#">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">01 Aug 2017</small>
                </p>
                <p>Bulma / Bootstrap comparison</p>
              </div>
            </a>
          
            <a class="navbar-item" href="#">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">24 Jul 2017</small>
                </p>
                <p>Access previous Bulma versions</p>
              </div>
            </a>
          
          <a class="navbar-item" href="#">
            More posts
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <strong>Stay up to date!</strong>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a class="button bd-is-rss is-small" href="#">
                      <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                      </span>
                      <span>Subscribe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end">
     
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
          </p>
          <p class="control">
            <a class="button is-info" href="#">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Sign In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="#">
<div class="section">
  <div class="columns ">
  
    <aside class="column is-2 has-background-grey-lighter">
    <div class="box has-background-grey-lighter">
      <nav class="menu ">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active" href="{% url 'home' %}">Dashboard</a></li>
          <li><a href="{% url 'process_v2' %}"> Create Session</a></li>
          <li><a>Favorites</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>My Notes</a></li>
          <li>
            <a class="">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>My Team</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          {% comment %} <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li> {% endcomment %}
        </ul>
        <p class="menu-label">
          Manage
        </p>
        <ul class="menu-list">
          <li><a>Settings</a></li>
          <li><a>My Account</a></li>
          {% comment %} <li><a>Balance</a></li> {% endcomment %}
        </ul>
      </nav>
      </div>
    </aside>
    
    
    {% block content %}{% endblock content %}
    
  </div>
</div>
</div>

        {% block footer %}{% endblock footer %}
        <br>
        <br> 
        <br> 
        <br>
        <br> 
        <br> 
        	<!-- these js files are used for making PDF -->
 <script src="{% static 'js/jspdf.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
	<script src="{% static 'js/pdfFromHTML.js' %}"></script> 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
  </body>
  <footer class="footer has-background-grey-darker">
  <div class="content has-text-centered has-text-grey-light">
{% comment %} <i class="fab fa-connectdevelop"></i>    {% endcomment %}
<h1 class="title is-4 has-text-grey-light"> &nbsp; RetSmooth</h1> 
      {% comment %} <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> {% endcomment %}
    </a>
    <p class="is-size-7 has-text-light">beta</p>


    <p class="is-size-7 has-text-grey-light">
      Any data generated in this Beta is not guarenteed and may be deleted at any time 
    </p>
  </div>
  <div class="content has-text-right has-text-grey-light">
 <i class="fas fa-caret-square-up icon is-medium "></i>
  </div>
</footer>















</html>