{% extends 'base.html' %}
{% block title %}
    Edit {{ block.super }}
{% endblock title %}

{% block content %}

<main class="column">

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title">Edit</div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
          <a href="{% url 'process_v2' %}"> 
         <button type="button" class="button is-small"> <i class="fas fa-plus-circle"></i>
              &nbsp;&nbsp; Create New Session 
            </button></a>
           &nbsp; &nbsp;
            <button type="button" class="button is-small">
              {{ now | date:"D d M Y -  h:i:s"}} 
            </button>
          </div>
        </div>
      </div>

      <div class="tabs is-boxed">
  <ul>
    <li >
      <a href="{% url 'session_detail_v2' pk=session.pk %}">
        <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
        <span>Back</span>
      </a>
    </li>
    <li >
      &nbsp;
        <span class="icon is-small"><i class="fas fa-broadcast-tower" aria-hidden="true"></i></span>
        <span> Session "{{ session.site_common_name }}"</span>
      &nbsp;
    </li>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-pen" aria-hidden="true"></i></span>
        <span> Editing Operating Band : {{ refs.technology_operating_band }}</span>
      </a>
    </li>
  </ul>
</div>

   <div class="tile is-ancestor">
  <div class="tile is-8 is-parent">
    <article class="tile is-child box">
      

<article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <a class="level-item">
          <span class="icon is-large"><i class="fas fa-broadcast-tower"style="color:#9da69c;"></i></span>
        </a>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">

       <form role="form" action="" method="post" class="subtitle">
        {% csrf_token %}
        {{ form.as_p}}
        <br>

        <button class= " button is-outlined" type="submit">Submit</button>
    </form>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">

        </div>
      </nav>
    </div>

  </article>

    </article>
  

    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      
          <table class="table is-narrow">
  <thead>
    <tr>
      {% comment %} <th><abbr title="Position">Pos</abbr></th>
      <th>Team</th> {% endcomment %}
    </tr>
  </thead>
  {% comment %} <tfoot>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Team</th>
    </tr>
  </tfoot> {% endcomment %}
  <tbody>
     <tr>
      <th>FCC ID:</th>
      <td><p class="is-size-6 is-family-code"> {{session.fcc_id}} </p>
      </td>
    </tr>
    <tr>
      <th>Site Common Name:</th>
      <td><p class="is-size-6 is-family-code"> {{session.site_common_name}} </p>
      </td>
    </tr>
     <tr>
      <th>PTN:</th>
      <td><p class="is-size-6 is-family-code"> {{session.ptn}} </p>
      </td>
    </tr>
    <tr>
      <th>Release:</th>
      <td><p class="is-size-6 is-family-code"> {{session.release}} </p>
      </td>
    </tr>
     <tr>
      <th>Enode B ID:</th>
      <td><p class="is-size-6 is-family-code"> {{session.enode_b_id}} </p>
      </td>
    </tr>
    <tr>
      <th>Market:</th>
      <td><p class="is-size-6 is-family-code"> {{session.market}} </p>
      </td>
    </tr>
     
    <tr>
      <th>Cross Sector Redundency:</th>
      <td><p class="is-size-6 is-family-code"> {{session.cross_sector_redundency}} </p>
      </td>
    </tr>
    
  </tbody>
</table>
   

    </article>
  </div>
  
</div>
 

</div> 

    </div>
</div>
      
    </main>

 

{% endblock %}
