{% extends 'base.html' %} 
{% load crispy_forms_tags %}


{% block title %}
    About - {{ block.super }} {% endblock title %}
{% block content %} 







 <br>
  {% if messages %}
      {% for message in messages %}
        <div class="notification is-success ">
            <button class="delete"></button>
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}



<main class="column">

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title">Create Session</div>
            
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
          
          <button type="button" class="button is-small"> <i class="fas fa-plus-circle"></i>
              &nbsp;&nbsp; Create New Session 
            </button>
           &nbsp; &nbsp;
            <button type="button" class="button is-small">
              {{ now | date:"D d M Y -  h:i:s"}} 
            </button>
          </div>
        </div>
      </div>





       <div class="tabs is-boxed ">
  <ul >
    <li >
      <a href="{% url 'home' %}"> 
        <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
        <span>Back</span>
      </a>
    </li>
    <li class="is-active ">
      <a>
        <span class="icon is-small"><i class="fas fa-broadcast-tower" aria-hidden="true"></i></span>
        <span> Create </span>
      </a>
    </li>
  </ul>
</div>



<div class = "box">
    <p class = "#">  {{ now | date:"D d M Y -  h:i:s"}} </p> 
    <br>
    {% comment %} {% for tower in towers %} {% endcomment %}
    <form class="uniForm" enctype="multipart/form-data" action="create_session_form" method="post"> 
   
        {% csrf_token %} 
        
         
         <div class="columns is-8">
            <div class="column is-8">
  

        <input class="input is-hovered" placeholder="site common name" type="text" name="site_common_name" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="FCC id" type="text" name="fcc_id" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="market" type="text" name="market" required id="id_document" >
        <br> 
        <br>
        <input class="input is-hovered" placeholder="enode b id" type="text" name="enode_b_id" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="PTN" type="text" name="ptn" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="Release" type="text" name="release" required id="id_document" >




            </div>
            <div class="column">
            {% comment %} <p> column 2 </p> {% endcomment %}
            </div>
            <div class="column">
                
                    {% comment %} <p> column 3 </p> {% endcomment %}
            </div> 

         

</div>
         
         
        
         
        
        

        
        <br> 
        <br> 
        <input class="button is-medium" type="submit" value="Submit" />
   
    </form>

    
    <br> 
    
    

</div> 



     

     



    </div>
</div>
      </div>
    </main>






{% endblock content %}