{% extends 'base.html' %} 
{% load crispy_forms_tags %}


{% block title %}
    About - {{ block.super }} {% endblock title %}
{% block content %} 


{% comment %} <form method="post" class="uniForm">
    {{ my_formset|crispy }}
</form> {% endcomment %}

<section class="section">
    <div class="container">
    <h2 class = "title"> Process <h2> 
<div class = "box">

    <h3 class = "subtitle"> Create Session  </h3> 
    <p class = "#">  {{ now | date:"D d M Y -  h:i:s"}} </p> 
    <br>
    {% comment %} {% for tower in towers %} {% endcomment %}
    <form class="uniForm" enctype="multipart/form-data" action="create_session_form" method="post"> 
   
        {% csrf_token %} 
        
         
         <div class="columns">
            <div class="column">
  

        <input class="input is-hovered" placeholder="site common name" type="text" name="site_common_name" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="FCC id" type="text" name="fcc_id" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="market" type="text" name="market" required id="id_document" >
        <br> 
        <br>
        <input class="input is-hovered" placeholder="enode b id" type="text" name="enode_b_id" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="PTN" type="text" name="ptn" required id="id_document" >
        <br>
        <br>
        <input class="input is-hovered" placeholder="Release" type="text" name="release" required id="id_document" >




            </div>
            <div class="column">
            {% comment %} <p> column 2 </p> {% endcomment %}
            </div>
            <div class="column">
                
                    {% comment %} <p> column 3 </p> {% endcomment %}
            </div> 

         
         
         
         
         
         {% comment %} <div class="columns">
            <div class="column">
                {{ form1|crispy }} 
                    <br>
                    {{ form2|crispy }}   
                    <br>
                    {{ form3|crispy }}  
                    <br>
                    {{ form4|crispy }}   
                    <br>
                            </div>
            <div class="column">
            {{ form5|crispy }}   
                    <br>
                    {{ form6|crispy }}   
                    <br>
                    {{ form7|crispy }}   
                    <br>
                    {{ form8|crispy }}   
                    <br>
            </div>
            <div class="column">
                
                    {{ form9|crispy }}   
                    <br>
                    {{ form10|crispy }}   
                    <br>
                    {{ form11|crispy }}   
                    <br>
                    {{ form12|crispy }}   
                    <br>
            </div> {% endcomment %}

</div>
         
         
        
         
        
        
        
        {% comment %} <input type="file"  name="alpha_pos_1"/> {% endcomment %}
        {% comment %} <input type="file" name="document" required id="id_document" value="{{tower.name}}">
        <input type="dropdown" name="position" required id="id_document" value="{{tower.name}}"> {% endcomment %}
 {% comment %} {% endfor %} {% endcomment %}

         {% comment %} <select name="servers">
                <option value="" disabled="disabled" selected="selected">Please select the server</option>
                <option value="x.x.x.x">server_name</option>
                <option value="x.x.x.x">server_name</option>
        </select> {% endcomment %}



        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} <input type="file" name="document" required id="id_document" value="alpha_pos">  {% endcomment %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        
        <br> 
        <br> 
        <input class="button is-medium" type="submit" value="Submit" />
   

    {% comment %} <h3 class = "subtitle" > Position 2 </h3> 
    <form enctype="multipart/form-data" action="upload_file" method="post"> 
        <input type="file"  name="alpha_pos_2"/> 
        {% csrf_token %}  {% endcomment %}
    </form>

    
    <br> 
    
    

</div> 
</div>
</section>




{% endblock content %}